* {
    --dark-color: hsla(240, 27%, 18%, 1);
    --primary-color: hsla(232, 17%, 35%, 1);
    --accent-color: hsla(31, 100%, 48%, 1);
    --secondary-color: hsla(11, 24%, 72%, 1);
    --light-color: hsla(21, 35%, 92%, 1);
    --black-color: hsla(0, 0%, 0%, 1);
    --white-color: hsla(0, 0%, 100%, 1);
    --white-t-color: hsla(0, 0%, 100%, 0.5);
}

.branding-container {
    float: left;
    position: relative;
    top: auto;
    width: 100%;
    background-color: aqua;
}

.title-container {
    position: absolute;
    width: 50%;
    height: 100%;
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgb(56, 102, 65);
    background: linear-gradient(
        90deg,
        rgba(56, 102, 65, 1) 35%,
        rgba(86, 133, 73, 1) 77%,
        rgba(106, 153, 78, 0.8379726890756303) 85%,
        rgba(167, 201, 87, 0) 100%
    );
    backdrop-filter: blur(2px);
}

.title-container h1 {
    color: var(--light-color);
    text-align: center;
    position: absolute;
    font-size: 120px;
    font-weight: bold;
    width: 100%;
    top: 40%;
    z-index: 2;
}

.title-container p {
    color: var(--dark-color);
    text-align: center;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    top: 55%;
}

.title-container img {
    position: absolute;
    z-index: 1;
    left: 15%;
    margin: 0 auto;
    width: 40%;
    top: 10%;
}

.person-image-container {
    width: 65%;
    float: right;
}


.person-image-container img {
    width: 100%;
    height: 100%;
}